# Reto 01
A continuación tienes el dataset de supervivientes del Titanic. El reto consta de generar un Random Forest pero... ¡con la metodología Pipe! Siga las instrucciones a detalle

## Paso 1. Cargue su CSV 'train' y Genere un breve EDA

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("https://raw.githubusercontent.com/jaffotsa/sml/main/Sesion%2007.%20Arena%20Clasificadores/Reto%2001/train.csv", index_col=0)
df.head()

             Survived  Pclass  ... Cabin Embarked
PassengerId                    ...
1                   0       3  ...   NaN        S
2                   1       1  ...   C85        C
3                   1       3  ...   NaN        S
4                   1       1  ...  C123        S
5                   0       3  ...   NaN        S

[5 rows x 11 columns]

In [9]:
df.dtypes

Survived      int64
Pclass        int64
Name         object
Sex          object
Age         float64
SibSp         int64
Parch         int64
Ticket       object
Fare        float64
Cabin        object
Embarked     object
dtype: object

## Paso 02. Empiece a segmentar sus datos
Recuerde que con base en la variable "Survived", usted desea justamente predecir que personas podrán sobrevivir de acuerdo a otras variables independientes (tal como Tarifa, clase o edad).

El siguiente paso es que segmente en las variables numericas y categoricas, y acto seguido, es necesario que genere un training, testing y validation con scikit learn train_test_split

In [7]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor

y = df["Survived"]
x = df.drop(["Survived"], axis=1)

In [19]:
xTrn, xTst, yTrn, yTst = train_test_split(x, y, train_size=0.8, random_state=123)

## Paso 3. con las librerías importadas, realice su OneHot coding aumatico con la ayuda de Pipe, y agrupe las variables categoricas y numericas tal que permita iniciar su pipe

In [20]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder

In [21]:
# Preprocesar datos numericos
num_transform = SimpleImputer(strategy='constant')

# preprocesar datos categoricos
cat_transform = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='most_frequent')),
    ('onehot', OneHotEncoder(handle_unknown='ignore'))
])

num_cols = ["Age", "Fare"]
cat_cols = ["Pclass", "Sex", "SibSp", "Parch", "Embarked"]

# Juntar variables categoricas y numericas
preProcess = ColumnTransformer(
    transformers=[
        ('num', num_transform, num_cols),
        ('cat', cat_transform, cat_cols)
    ])

## Paso 4. Defina su Random Forest y almacenelo en una variable que usted defina

In [26]:
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor(n_estimators=100, random_state=123)

## Paso 5. Corra su pipe, enbone los datos y por último, evalue en modelo accediendo al arror absoluto medio con  mean_absolute_error

In [27]:
from sklearn.metrics import mean_absolute_error

# Conjuntar los datos preprocesados y hacer el fit
my_pipeline = Pipeline(steps=[('preprocessor', preProcess),
                              ('model', model)
                             ])

# Enbonar el training
my_pipeline.fit(xTrn, yTrn)

# Adjuntar el training data y terminar el fit
preds = my_pipeline.predict(xTst)

# Siguiente paso: evaluación del modelo
score = mean_absolute_error(yTst, preds)
print('MAE:', score)

MAE: 0.23413448616870405