# Reto 04

A continuación usted va a crear un modelo de regresión lineal múltiple donde el Salario (en dólares) de unos trabajadoresestadísticos financieros n depende de su edad y las horas extra que trabajan para su empresa.

Para esto, será necesario que cargue las siguientes librerías

In [2]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

## 2. cargue el csv proporcionado para la clase del día de hoy y explore brevemente los datos

In [3]:
df = pd.read_csv("https://raw.githubusercontent.com/jaffotsa/sml/main/Sesi%C3%B3n%2004.%20Regresiones/Reto02/multiple-linear-regression-dataset.csv")
df.head()

   horas_extra  Salario  edad
0          0.5     2500    22
1          0.0     2250    21
2          1.0     2750    23
3          5.0     8000    25
4          8.0     9000    28

## 3. Para este ejercicio use todos los datos disponibles como training dataset. Definirá como y a la variable con Salario, y además, tendra una segunda variable igual a x como un array (no por separado) con las dos variables independientes. 

PISTA: haga reshape(-1,1 a Salario, su variable y), y use un .iloc de pandas para generar un índice para la variable x

In [8]:
y = np.array(df.Salario).reshape(-1, 1)
x = np.array(df.loc[:, ["horas_extra", "edad"]]).reshape(-1, 2)

## 4. Use regresiones para desarrollar su modelo de regresión múltiple, y haga fit en el las dos variables que creo en el paso anterior

In [9]:
linear = LinearRegression().fit(x, y)

## 5. Genere una predicción de Salario cuando:
- Primero: una persona tiene 10 horas extras de trabajo y tiene 35 años
- Segundo: una persona tiene 5 horas de trabajo y cuenta con 20 años

In [24]:
cases = [{"time": 10, "age": 35}, {"time": 5, "age": 20}]
res = []

for case in cases:
  time = case["time"]; age = case["age"]
  salary = linear.predict(np.array([time, age]).reshape(-1, 2))
  res.append(salary)
  print(f"Horas de trabajo: {time}, edad: {age}, salario predicho: ${salary[0, 0]:.2f}")

Horas de trabajo: 10, edad: 35, salario predicho: $11046.36
Horas de trabajo: 5, edad: 20, salario predicho: $9669.69

## 7. BONUS: Calcule la $R^2$ para este modelo de regresión múltiple

In [27]:
# R squared
r_sq = linear.score(x, y)
print(f"R^2: {r_sq}")

R^2: 0.9818393838730447